version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: smartlogi_management
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ADMIN
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  springboot-app:
    build: .
    container_name: smartlogi-app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/smartlogi_management
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: ADMIN
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
