spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smartlogi_management
    username: postgres
    password: ADMIN
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
    enabled: true
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

# ==== JWT / Security (valeurs par défaut; remplacer en prod) ====
security:
  jwt:
    # Secret peut être en UTF-8 ou base64; en prod, préférer base64 et une valeur forte
    secret: change-me-change-me-change-me-change-me-32-bytes
    # Durée de validité en millisecondes (ici 24h)
    expiration-ms: 86400000
